<% if @sushi %>
<h2><%= @sushi.name %>'s ingredient:</h2>
<% end %>

<h4 class="red-text"> Name: <%= @ingredient.name %></h4>
<h4 class="red-text"> Calories: <%= @ingredient.calories %></h4>
<h4 class="red-text"> Serving Size: <%= @ingredient.ss_grams %></h4>